# Map, Filter, Reduce

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Each-student-is-randomly-assigned-a-topic" data-toc-modified-id="Each-student-is-randomly-assigned-a-topic-0.1"><span class="toc-item-num">0.1&nbsp;&nbsp;</span>Each student is randomly assigned a topic</a></span></li></ul></li><li><span><a href="#Let's-start" data-toc-modified-id="Let's-start-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Let's start</a></span><ul class="toc-item"><li><span><a href="#Create-groups-with-other-people-who-have-studied-the-same-function" data-toc-modified-id="Create-groups-with-other-people-who-have-studied-the-same-function-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Create groups with other people who have studied the same function</a></span></li></ul></li><li><span><a href="#Map,-Filter,-Reduce" data-toc-modified-id="Map,-Filter,-Reduce-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Map, Filter, Reduce</a></span><ul class="toc-item"><li><span><a href="#Map" data-toc-modified-id="Map-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Map</a></span><ul class="toc-item"><li><span><a href="#First-we-do-it-with-functions" data-toc-modified-id="First-we-do-it-with-functions-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>First we do it with functions</a></span></li><li><span><a href="#Extra:-Do-it-with-lambda!" data-toc-modified-id="Extra:-Do-it-with-lambda!-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Extra: Do it with lambda!</a></span></li></ul></li><li><span><a href="#Filter" data-toc-modified-id="Filter-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Filter</a></span><ul class="toc-item"><li><span><a href="#First-we-do-it-with-functions" data-toc-modified-id="First-we-do-it-with-functions-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>First we do it with functions</a></span></li><li><span><a href="#Extra:-Do-it-with-lambda!" data-toc-modified-id="Extra:-Do-it-with-lambda!-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Extra: Do it with lambda!</a></span></li></ul></li><li><span><a href="#Reduce" data-toc-modified-id="Reduce-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Reduce</a></span><ul class="toc-item"><li><span><a href="#What-happened?" data-toc-modified-id="What-happened?-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>What happened?</a></span></li></ul></li><li><span><a href="#First-we-do-it-with-functions" data-toc-modified-id="First-we-do-it-with-functions-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>First we do it with functions</a></span></li><li><span><a href="#Bonus:-Do-it-with-lambda!" data-toc-modified-id="Bonus:-Do-it-with-lambda!-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Bonus: Do it with lambda!</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Summary</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Further materials</a></span></li></ul></div>

### Each student is randomly assigned a topic

In [15]:
# Group 1: [("Andres", "map"), ("dani", "filter"), ("David", "reduce")]
# Group 2: [("Andres", "map"), ("dani", "filter"), ("David", "reduce")]

In [18]:
# Group 1: [("Andres", "map"), ("dani", "filter"), ("David", "reduce")]
# Group 2: [("Andres", "map"), ("dani", "filter"), ("David", "reduce")]

## Let's start

You have 10 minutes to explore and understand the role you have been assigned on your own. You may find these links useful:

- [map, filter, reduce - I](https://medium.com/swlh/higher-order-functions-in-python-map-filter-and-reduce-34299fee1b21)
- [map, filter, reduce - II](https://www.learnpython.org/en/Map,_Filter,_Reduce)
- [map, filter, reduce - III](https://stackabuse.com/map-filter-and-reduce-in-python-with-examples)

### Create groups with other people who have studied the same function

![otrogif](https://media.giphy.com/media/UatRnEUNX8iCQ/giphy.gif)

In this part of the game you are assigned to a group in which you are the expert in your role.
Each group member has 5 minutes to explain their role to the other team members.

## Map, Filter, Reduce

There are three functions that will come in very handy when working with iterators. These functions facilitate certain basic and common operations on iterable collections of data, such as removing elements that do not meet a certain condition, calculating a result from the contained data, or applying a transformation to each element. Let's see them with examples of use:

In [2]:
from functools import reduce

In [ ]:
# they recieve: function & iterable

In [ ]:
# functional programming
map()
filter()
reduce()

### Map

The map() function takes a function and a list and applies that function to each element in that list, producing a new list.
```python
map(function_to_apply, list_of_inputs)
```

In [4]:
lst_ = ["sdsaf ", "s.dsdi_", "s!d sd "]

In [7]:
# never go for data structure
# always go for data type

x = "sdsaf "

def upper_whitespaces (x):
    return x.upper().strip()

for i in lst_:
    print(upper_whitespaces(i))

SDSAF
S.DSDI_
S!DSD

In [10]:
result = list(map(upper_whitespaces, lst_))
result

# map: quicker
# avoids the loop

['SDSAF', 'S.DSDI_', 'S!DSD']

In [11]:
result = [upper_whitespaces(i) for i in lst_]
result

['SDSAF', 'S.DSDI_', 'S!DSD']

- function
    - does things: combine iterables, it can combine
    - it can be one
    - tell them what to do
    
    - like a for loop: takes iterables & functions
    - returns a map object
    - which you can cast into a list

`goal: square of numbers`

In [12]:
nums = [567, 45 ,45 ,56 , 4]

In [ ]:
# 1. Loop
# 2. Function
# 3. Comprehension list & funcion
# 4. map

In [13]:
# 1. Loop

new_list = []
for i in nums:
    new_list.append(i**2)
new_list

[321489, 2025, 2025, 3136, 16]

In [14]:
# 2. Function

def squares (x):
    return x ** 2

In [15]:
# 3. Loop & function
for i in nums:
    print(squares(i))

321489
2025
2025
3136
16

In [23]:
# 4. Map

result = list(map(squares, nums))
result

[321489, 2025, 2025, 3136, 16]

In [26]:
result = list(map(squares, nums))
result = list(map(lambda x: x **2, nums))

In [27]:
result

[321489, 2025, 2025, 3136, 16]

#### First we do it with functions

The map function returns an iterator, so we have to use `list(map_iterator)`

#### Extra: Do it with lambda!

In [24]:
# 4. Map

result = list(map(squares, nums))
result

[321489, 2025, 2025, 3136, 16]

In [25]:
result = list(map(lambda x: x**2, nums))
result

[321489, 2025, 2025, 3136, 16]

### Filter

The filter() function filters a list of items for which a function returns True.
```python
filter(a_function, a_list)
```

Imagine you want to filter a list of numbers to get only even values.

In [ ]:
# filter
    # function and iterable
    # function: true / false
    # narrows down the iterable
    # returns an object

In [28]:
# map
# filter
# reduce

In [ ]:
filter (function, iterable)
# function should return a boolean

In [ ]:
def even_numbers (n): #data type, not data structure
    # incomplete
    if n % 2 == 0:
        return True

In [ ]:
def even_numbers (n): #data type, not data structure
    
    if n % 2 == 0:
        return True
    else:
        return False

In [29]:
def even_numbers (n): #data type, not data structure
    
    if n % 2 == 0:
        return True
    
    return False

In [31]:
nums

[567, 45, 45, 56, 4]

In [32]:
filter (even_numbers, nums)

In [33]:
list(filter (even_numbers, nums)) # filtering by funct that returns True

[56, 4]

In [34]:
even_numbers(2)

True

In [35]:
list(map(even_numbers, nums))

[False, False, False, True, True]

In [19]:
#filter_experts

In [ ]:
# map: object modified
# filter: gives you the ELEMENT (if condition is met)

In [36]:
grades = [65, 71, 100, 98, 20, 35, 60] # 70/100

In [37]:
grades

[65, 71, 100, 98, 20, 35, 60]

In [38]:
def passing (grade):
    if grade >= 70:
        return True
    return False

In [45]:
passing (80)

True

In [48]:
list(map(passing, grades))

[False, True, True, True, False, False, False]

In [ ]:
# [71, 100, 98]

In [41]:
passing_grades = list(filter(passing, grades))
passing_grades

# narrow things down: filter

[71, 100, 98]

In [ ]:
# map -> loop
    # apply aaany given function
    # to aaany iterable
    
# filter -> narrow iterables down
    # based on a condition
        # condition is within a function

In [49]:
def check_if_number_starts_with_plus (phone_number):
    if phone_number.startswith("+"):
        return True
    return False

In [50]:
result = list(filter(check_if_number_starts_with_plus, ["+456789", "9876", "+9876"]))
result

['+456789', '+9876']

In [52]:
def replaces_plus (phone_number): #  ["456789", "+(98)76", "9876"]
    return phone_number.replace("+", "").replace("(", "").replace(")", "")

In [55]:
result = list(map(replaces_plus,["+45(6)789", "9876", "+(98)76"] ))
result

['456789', '9876', '9876']

#### First we do it with functions

Imagine that you want to filter a list and keep only the groups that start with the letter R

#### Extra: Do it with lambda!

In [56]:
grades = [65, 71, 100, 98, 20, 35, 60] # 70/100

In [58]:
passing_grades = list(filter(lambda x: True if x >= 70 else False,grades))
passing_grades

[71, 100, 98]

In [60]:
passing_grades = list(filter(lambda niko: niko >= 70, grades))
passing_grades

[71, 100, 98]

In [61]:
list_of_names = ["antonio", "Pol", "monica", "Guille", "eloi", "Leo"]

In [ ]:
# 1. only capitalize: filter (funct: true / false)
# 2. keep all, but make them capitalize: map

In [73]:
def filter_capitalize (one_name): # 1. checks
    if one_name[0].isupper():
        return True
    return False

filter_capitalize("guille")

False

In [65]:
filtered_result = list(filter(filter_capitalize, list_of_names))
filtered_result

['Pol', 'Guille', 'Leo']

In [74]:
def capitalize_string (one_name): # 2. modifies
    return one_name.capitalize()

capitalize_string("antonio")

'Antonio'

In [75]:
mapped_names = list(map(capitalize_string, list_of_names))
mapped_names

['Antonio', 'Pol', 'Monica', 'Guille', 'Eloi', 'Leo']

### Reduce

This function is not a built-in function, which means you must first import the functools library for use. The reduce() function cumulatively applies the f() function to the elements of the iterable. The accumulator can be initialized with an optional third argument. The result is the final value of the accumulator.

```python
reduce(function, iterable[, initial])
```

In [ ]:
#random.choice(reduce_experts)

In [76]:
from functools import reduce

In [77]:
nums = [1, 104, 3, 1, 4]

In [89]:
def addition (a, b):
    print(f"a is {a}, b is {b}. Result is: {a+b}")
    return a + b

In [90]:
addition (1, 104)

a is 1, b is 104. Result is: 105

105

In [93]:
result = reduce(addition, nums, 500) # initial: Starting point
result

a is 500, b is 1. Result is: 501
a is 501, b is 104. Result is: 605
a is 605, b is 3. Result is: 608
a is 608, b is 1. Result is: 609
a is 609, b is 4. Result is: 613

613

In [ ]:
# map -> all the values
# filter -> only some values
# reduce -> ONE value

In [86]:
list_of_strings = ["hello", "my", "name", "is"]

def addition (a, b):
    return a + " " + b

sentence = reduce(addition, list_of_strings, "Initial value:")
sentence

'Initial value: hello my name is'

In [ ]:
# reduce 
from functools import reduce

- one final VALUE
- two arguments:
    - 1st: function
    - 2nd: looped object
    - needs to be imported
    - flow:
        - first item: apply function -> one value
        - one value: apply function -> another value
        - another value: apply function -> last result
        - return last result
    - optional argument: initial: first value you want to begin with

⚠️ Reduce is a bit more complicated to understand than map() and filter() so let's walk through the following example ⚠️

#### What happened?
- We start with a list [2, 4, 7, 3] and pass the function add (x, y) to reduce ( ) along with this list, without an initial value

- reduce() calls add(2, 4), and add() returns 6

- reduce() calls sum(6, 7) (result of the previous call to sum() and the next element in the list as parameters), and sum() returns 13

- reduce() calls sum(13, 3), and sum() returns 16

Since there are no more elements left in the sequence, reduce() returns 16

Factorial:
Amount that results from the multiplication of a certain natural number by all the natural numbers that precede it, excluding zero; is represented by n!

### First we do it with functions

### Bonus: Do it with lambda!

## Summary

In [ ]:
# lambdas
# user defined functions

In [113]:
dict_ = {"name": "albert", "city": "mataró", "age":20}

In [110]:
def turns_keys_upper(x):
    # x = ("name", "albert")
    return x[0].upper(), x[1].lower()

In [111]:
result = dict(map(turns_keys_upper, dict_.items()))
result

{'NAME': 'albert', 'CITY': 'mataró', 'AGE': '30'}

In [115]:
def turns_keys_upper(x):
    if type(x[1])== int:
        return False
    return True

In [119]:
result = dict(filter(turns_keys_upper, dict_.items()))
result # filtering: leaving out the pairs where the values are not ints

{'name': 'albert', 'city': 'mataró'}

In [112]:
"""for i in dict_.keys():
    i = i.upper()
    
dict_"""

{'name': 'albert', 'city': 'mataró', 'age': '30'}

In [120]:
# 1. write a function: data types (one element), not the whole data structure
# 2. apply the function
    # 2.1. On a loop
    # 2.2. map, filter, reduce

In [122]:
# reduce with a dictionary

age_students = {"monica": 29, "guille": 34, "eloi": 29, "leo": 37, "antonio": 34, "pol" :26}

In [123]:
counter = 0
for i in age_students.values():
    counter += i
counter

189

In [128]:
def pair_key_value (value1, value2):
    return (value1 + value2)/2 * 100

In [129]:
total = reduce(pair_key_value, age_students.values())
total

19873461300.0

## Further materials
http://web.mit.edu/6.005/www/sp16/classes/25-map-filter-reduce/