In [22]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
import os
from sys import platform

 Table

# Instructions

1. Load the `train.csv` file
2. Explore the data, understand it
3. Process it for future training
4. Do train, test, split for your `train.csv` file
5. `fit/train` a model from your cleaned_train_df
-----
5. Load the `test.csv` file
6. Apply the same processing you did to `train.csv` into `test.csv`
7. `predict` the price for that file
8. Only keep the columns you need
9. Export
-----
10. Repeat! ðŸš€ðŸ”¥

#Â Import the csv files

In [23]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [24]:
df_train.sample()

          id  carat   cut color clarity  depth  table     x     y     z  price
24064  24064    0.7  Good     E     SI1   61.7   59.0  5.62  5.66  3.48  7.808

In [25]:
df_test.sample()

        id  carat   cut color clarity  depth  table     x     y     z
5225  5225    0.4  Good     F     SI1   63.6   56.0  4.68  4.63  2.96

In [26]:
df_train.shape

(40455, 11)

In [28]:
df_test.shape

(13485, 10)

In [29]:
#SUBMISSION -> test

In [30]:
print(df_train.shape[0])
df_train.sample()

40455

,id,carat,cut,color,clarity,depth,table,x,y,z,price
34253,34253,0.7,Ideal,E,SI1,61.1,56.0,5.75,5.78,3.52,8.111

In [31]:
print(df_test.shape[0])
df_test.sample()

13485

          id  carat    cut color clarity  depth  table     x     y     z
12399  12399    0.4  Ideal     I     VS1   61.2   56.0  4.76  4.82  2.93

#Â Cleaning, processing, feature selection, etc

In [32]:
#Â Processing is necessary, otherwise we won't be able to fit a model
#Â For the sake of the example, we'll just drop categorical columns

df_train_cleaned = df_train.select_dtypes(exclude='object')
print(df_train_cleaned.shape[0])
df_train_cleaned

40455

          id  carat  depth  table     x     y     z  price
0          0   1.02   63.2   58.0  6.36  6.40  4.03  8.928
1          1   0.35   61.0   57.0  4.54  4.57  2.77  6.477
2          2   0.31   60.5   58.0  4.43  4.40  2.67  6.810
3          3   0.38   61.4   56.0  4.66  4.69  2.87  6.824
4          4   1.64   61.8   56.0  7.59  7.60  4.69  9.776
...      ...    ...    ...    ...   ...   ...   ...    ...
40450  40450   1.20   62.2   55.0  6.77  6.81  4.23  9.149
40451  40451   1.50   64.2   56.0  7.30  7.09  4.62  9.077
40452  40452   1.06   61.9   55.0  6.54  6.58  4.06  8.892
40453  40453   0.31   60.1   58.0  4.40  4.38  2.64  6.385
40454  40454   2.00   60.8   58.0  7.99  8.07  4.88  9.455

[40455 rows x 8 columns]

#Â Train on train.csv

![](https://builtin.com/sites/www.builtin.com/files/styles/ckeditor_optimize/public/inline-images/4_train-test-split.jpg)

## Train, test split

In [33]:
X = df_train_cleaned.iloc[:,:-1]
y = df_train_cleaned['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35)

##Â Fit

In [34]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

#Â Just for feedback
if platform == "darwin":
    os.system("say I'm done training")

sh: -c: line 0: unexpected EOF while looking for matching `''
sh: -c: line 1: syntax error: unexpected end of file

In [35]:
y_pred = regressor.predict(X_test)

In [36]:
np.sqrt(mean_squared_error(y_pred, y_test))

0.336967653212144

-----
-----
-----
-----

#Â Applying same cleaning & processing to my `test.csv`

In [37]:
df_test_cleaned = df_test.select_dtypes(exclude='object')
print(df_test_cleaned.shape[0])
df_test_cleaned.sample()

13485

          id  carat  depth  table     x     y     z
12445  12445   0.56   60.9   58.0  5.36  5.34  3.26

#Â Predict on the `test.csv`

In [40]:
y_pred = regressor.predict(df_test_cleaned)
y_pred

#Â Just for feedback
if platform == "darwin":
    os.system("say ayam don predictin")

#Â DF with two columns

In [41]:
print(df_test_cleaned.shape[0])
df_test_cleaned.sample()

13485

          id  carat  depth  table     x     y     z
11306  11306    1.5   61.8   60.0  7.28  7.25  4.49

In [42]:
df_test_cleaned['price'] = y_pred # Adding the predicted price
df_for_submission = df_test_cleaned[["id", "price"]] # Modifying for subnmission

In [43]:
print(df_for_submission.shape[0])
df_for_submission.sample()

13485

      id     price
701  701  9.270811

#Â Export (index=False)

In [44]:
df_for_submission.to_csv("my_submission.csv", index=False)

#Â Just for feedback
if platform == "darwin":
    os.system("say redi for submission")

In [45]:
df_for_submission.head()

   id     price
0   0  8.155738
1   1  7.192716
2   2  6.587441
3   3  9.085980
4   4  6.661660