In [1]:
# RECAP


#Â control flow
    #Â code is run from top to bottom
        # loops
            #Â while
                #Â until a condition is met. beware for inifinity
    
            # for
                # for a defined object
                # we can loop ion iterables: [], (), {}, {set}, "string"
                   #Â we cannot loop: ints / floats / boolean / 
            
            # pass, continue & break
                #Â pass: nothing, it passes
                #Â continue: jumps onto the next iteration
                   #Â ignores whatever is below 
                #Â break: stops
            
        #Â conditions
            #Â if condition is not met: code is skipped
            #Â if: 
                #Â if variable -> truthy
                #Â many ifs vs if / elif
                    #Â ifs / if / if : not as used. 
                        #Â only when you need all conditions to be met (password)
                        # oterhwise -> python will read all of it -> not efficient
                        
                    #Â if / elif
                        #Â go-to, if conditions are exclusive
            #Â elif
            #Â else: 

#Â comprehension lists
    #Â simplify the code: tradeoff with simplicity (one line) vs too long of a line 
    #Â more efficient -> quicker (processing)
        #Â no new list empty declared
        #Â no appending
        #Â on the spot
    

"""
 nums = [10, 20, 30, 40]   #Â * 10  

 comp_list = [i * 10 for i in nums]


for i in nums:
    comp_list.append(i * 10)
comp_list
"""

'\n nums = [10, 20, 30, 40]   #\xa0* 10  \n\n comp_list = [i * 10 for i in nums]\n\n\nfor i in nums:\n    comp_list.append(i * 10)\ncomp_list\n'

# Functional Programming

![elgif](https://media.giphy.com/media/CuMiNoTRz2bYc/giphy.gif)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Your-contributions-ðŸš€" data-toc-modified-id="Your-contributions-ðŸš€-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Your contributions ðŸš€</a></span></li><li><span><a href="#What-is-functional-programming?:-paradigms" data-toc-modified-id="What-is-functional-programming?:-paradigms-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>What is functional programming?: paradigms</a></span></li><li><span><a href="#Built-in-functions" data-toc-modified-id="Built-in-functions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Built-in functions</a></span></li><li><span><a href="#USER---DEFINED-FUNCTIONS" data-toc-modified-id="USER---DEFINED-FUNCTIONS-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>USER - DEFINED FUNCTIONS</a></span><ul class="toc-item"><li><span><a href="#def" data-toc-modified-id="def-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>def</a></span></li><li><span><a href="#name" data-toc-modified-id="name-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>name</a></span></li><li><span><a href="#parameters" data-toc-modified-id="parameters-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>parameters</a></span></li><li><span><a href="#arguments" data-toc-modified-id="arguments-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>arguments</a></span><ul class="toc-item"><li><span><a href="#default-parameters" data-toc-modified-id="default-parameters-4.4.1"><span class="toc-item-num">4.4.1&nbsp;&nbsp;</span>default parameters</a></span></li><li><span><a href="#positional-arguments-&amp;-keyword-arguments" data-toc-modified-id="positional-arguments-&amp;-keyword-arguments-4.4.2"><span class="toc-item-num">4.4.2&nbsp;&nbsp;</span>positional arguments &amp; keyword arguments</a></span></li><li><span><a href="#*args" data-toc-modified-id="*args-4.4.3"><span class="toc-item-num">4.4.3&nbsp;&nbsp;</span><code>*args</code></a></span></li><li><span><a href="#**kwargs" data-toc-modified-id="**kwargs-4.4.4"><span class="toc-item-num">4.4.4&nbsp;&nbsp;</span>**kwargs</a></span></li><li><span><a href="#order" data-toc-modified-id="order-4.4.5"><span class="toc-item-num">4.4.5&nbsp;&nbsp;</span>order</a></span></li></ul></li><li><span><a href="#return" data-toc-modified-id="return-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>return</a></span></li><li><span><a href="#Docstrings:-documentation-strings" data-toc-modified-id="Docstrings:-documentation-strings-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span>Docstrings: documentation strings</a></span></li><li><span><a href="#source-code" data-toc-modified-id="source-code-4.7"><span class="toc-item-num">4.7&nbsp;&nbsp;</span>source code</a></span></li></ul></li><li><span><a href="#Scope-of-functions" data-toc-modified-id="Scope-of-functions-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Scope of functions</a></span></li><li><span><a href="#Lambda" data-toc-modified-id="Lambda-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Lambda</a></span><ul class="toc-item"><li><span><a href="#Syntax-of-a-lambda" data-toc-modified-id="Syntax-of-a-lambda-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Syntax of a lambda</a></span></li><li><span><a href="#lambda-examples" data-toc-modified-id="lambda-examples-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>lambda examples</a></span></li><li><span><a href="#lambda--as-the-option-of-some-other-built-in-functions" data-toc-modified-id="lambda--as-the-option-of-some-other-built-in-functions-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span><code>lambda</code>  as the option of some other built-in functions</a></span></li></ul></li><li><span><a href="#Functions:-functions-as-return-of-another-function" data-toc-modified-id="Functions:-functions-as-return-of-another-function-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Functions: functions as return of another function</a></span></li><li><span><a href="#Recursion" data-toc-modified-id="Recursion-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Recursion</a></span></li><li><span><a href="#Summary" data-toc-modified-id="Summary-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Summary</a></span></li></ul></div>

## Your contributions ðŸš€
What do you think functions do/what properties do they have? Whare they useful for?

- Functions
- What is it?
    - "a piece of code that does something" -> it does things
      
- What does it do?
    - Helps you do things quicker
    - "they help you manage the code and readibility"
        - encapsulation: code is within a little box
            - you can just CALL the box
            - code is abstracted for you, if you just call the function
            - that makes our lives easier    
- "they can be built-in or libraries"
- "it allows to folow the same procedures many times, same structure" -> reusability

- Fucntions & returns
    - Can: functions return things most of the times
    - Don't have to: fnctions can not return things
    ```python
       def say_hello (a, b):
            print("Hello!")
            #Â no return
    ```
- ARGUMENTS
    - you can pass arguments to functions
    ```python
         def addition (a, b):
              return a + b
    ```
    ```python
         def say_hello ():
            return "Hello!"
    ```
    
- Test
    - they can be used for testing
    - not neessarily return things to keep them
    - TDD: test driven development
        - 1. first builds the tests
            - think of the results you need
            
        - 2. second you develop the code
        - 3. Test your written code with your tests

- They're used: reusability
- Encapsualted code: a piece of code is under a name, location
- Arguments: things that go into the function
- Returns: sometimes you have, sometimes you don't

## What is functional programming?: paradigms
What does it mean that Python is multi-paradigm?
According to Wikipedia:

â€œPython is an interpreted programming language whose philosophy emphasizes the readability of its code. It is a multiparadigm programming language, since it supports object orientation, imperative programming and, to a lesser extent, functional programming.

It means that it accepts different ways of working with language. Basically there are 3 predominant paradigms, or in other words, 3 global formats to organize a code.

- **Imperative programming (structured)**: the code will be executed from the beginning of the file to the end without following any type of deviation. Its biggest advantage lies in its simplicity and low weight. Its danger is the spaghetti code, files with hundreds or thousands of lines where only a few human beings are able to modify and emerge victorious. It can look like this:

In [7]:
import pandas as pd
df = pd.read_csv("../datasets/avocado_kaggle.csv")
df.drop(columns=["Unnamed: 0"], inplace=True)
df.columns = [i.lower().replace(" ", "_") for i in df.columns]
df

,date,averageprice,total_volume,4046,4225,4770,total_bags,small_bags,large_bags,xlarge_bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

- **Object Oriented Programming (OOP or Object Oriented Programming)**: where variables and functions are encapsulated in small modules capable of being cloned and modified. Its strong point is the ability to reuse and isolate to avoid problems with other features. The negative part lies in the complexity of creating good objects and debugging. It can look like this:

In [21]:
#Â OOP: is class based
#Â class / object -> methods & attributes
"""
class Car ():
    
    #Â attributes / variables associated to the clas
    n_wheels = 4
    color = "red"
    
    
   # methods: functions, doing things
    def move_forward ():
        return position + 1 
    
    def stop ():
        return position
    ...

pols_car = Car(4, "white")
pols_car.move_forward()

tonis_car = Car(6, "green")
tonis_car.move_forward()


class Staff ():
    name = ""
    fname = ""
    dob = ""
    email = name + "." + fname + "@company.com"
    
marina = Staff("marina", "cotanda")
marina.email #Â marina.cotanda@company.com


class Marketing ():
    pass
    
"""

'\nclass Car ():\n    \n    #\xa0attributes / variables associated to the clas\n    n_wheels = 4\n    color = "red"\n    \n    \n   # methods: functions, doing things\n    def move_forward ():\n        return position + 1 \n    \n    def stop ():\n        return position\n    ...\n\npols_car = Car(4, "white")\npols_car.move_forward()\n\ntonis_car = Car(6, "green")\ntonis_car.move_forward()\n\n\nclass Staff ():\n    name = ""\n    fname = ""\n    dob = ""\n    email = name + "." + fname + "@company.com"\n    \nmarina = Staff("marina", "cotanda")\nmarina.email #\xa0marina.cotanda@company.com\n\n\nclass Marketing ():\n    pass\n    \n'

- **Functional programming (FP or Functional programming)**: where the code is divided into simple functions capable of being invoked with variables or other functions. Its ease of use by atomicity achieves robust maintainability and compatibility with almost any language. In addition, its immutability of variables avoids many of the problems that object-oriented programming suffers.

In [20]:
df.shape #Â variable

(18249, 13)

In [18]:
import pandas as pd

def import_and_clean (path):
    
    """Documentation"""
    
    #Â 1. Read the dataset in the path
    df = pd.read_csv(path)
    
    #Â 2. Transfrom: dropping a column and renaming all of them
    df.drop(columns=["Unnamed: 0"], inplace=True)
    df.columns = [i.lower().replace(" ", "_") for i in df.columns]
    
    #Â 3. Returns the df
    return df

df = import_and_clean("../datasets/avocado_kaggle.csv")
df

,date,averageprice,total_volume,4046,4225,4770,total_bags,small_bags,large_bags,xlarge_bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

## Built-in functions

The Python interpreter has a number of built-in functions and types that are always available. They are listed [here](https://docs.python.org/3/library/functions.html) in alphabetical order.

In [22]:
#Â built-in: print()
    #Â within libraries

#Â user_defined functions
def addition (a, b):
    return a + b
    
#Â lambda functions: more specific cases
    #Â df.....lambda a: a.upper()

In case of built-in functions we can't extract the code with inspect, since Python itself is written in C... the Print function looks like this ðŸ‘‡ðŸ»

```C
static PyObject *
builtin_print(PyObject *self, PyObject *args, PyObject *kwds)
{
    static char *kwlist[] = {"sep", "end", "file", 0};
    static PyObject *dummy_args = NULL;
    static PyObject *unicode_newline = NULL, *unicode_space = NULL;
    static PyObject *str_newline = NULL, *str_space = NULL;
    PyObject *newline, *space;
    PyObject *sep = NULL, *end = NULL, *file = NULL;
    int i, err, use_unicode = 0;

    if (dummy_args == NULL) {
        if (!(dummy_args = PyTuple_New(0)))
            return NULL;
    }
    if (str_newline == NULL) {
        str_newline = PyString_FromString("\n");
        if (str_newline == NULL)
            return NULL;
        str_space = PyString_FromString(" ");
        if (str_space == NULL) {
            Py_CLEAR(str_newline);
            return NULL;
        }
#ifdef Py_USING_UNICODE
        unicode_newline = PyUnicode_FromString("\n");
        if (unicode_newline == NULL) {
            Py_CLEAR(str_newline);
            Py_CLEAR(str_space);
            return NULL;
        }
        unicode_space = PyUnicode_FromString(" ");
        if (unicode_space == NULL) {
            Py_CLEAR(str_newline);
            Py_CLEAR(str_space);
            Py_CLEAR(unicode_space);
            return NULL;
        }
#endif
    }
    if (!PyArg_ParseTupleAndKeywords(dummy_args, kwds, "|OOO:print",
                                     kwlist, &sep, &end, &file))
        return NULL;
    if (file == NULL || file == Py_None) {
        file = PySys_GetObject("stdout");
        /* sys.stdout may be None when FILE* stdout isn't connected */
        if (file == Py_None)
            Py_RETURN_NONE;
    }
    if (sep == Py_None) {
        sep = NULL;
    }
    else if (sep) {
        if (PyUnicode_Check(sep)) {
            use_unicode = 1;
        }
        else if (!PyString_Check(sep)) {
            PyErr_Format(PyExc_TypeError,
                         "sep must be None, str or unicode, not %.200s",
                         sep->ob_type->tp_name);
            return NULL;
        }
    }
    if (end == Py_None)
        end = NULL;
    else if (end) {
        if (PyUnicode_Check(end)) {
            use_unicode = 1;
        }
        else if (!PyString_Check(end)) {
            PyErr_Format(PyExc_TypeError,
                         "end must be None, str or unicode, not %.200s",
                         end->ob_type->tp_name);
            return NULL;
        }
    }

    if (!use_unicode) {
        for (i = 0; i < PyTuple_Size(args); i++) {
            if (PyUnicode_Check(PyTuple_GET_ITEM(args, i))) {
                use_unicode = 1;
                break;
            }
        }
    }
    if (use_unicode) {
        newline = unicode_newline;
        space = unicode_space;
    }
    else {
        newline = str_newline;
        space = str_space;
    }

    for (i = 0; i < PyTuple_Size(args); i++) {
        if (i > 0) {
            if (sep == NULL)
                err = PyFile_WriteObject(space, file,
                                         Py_PRINT_RAW);
            else
                err = PyFile_WriteObject(sep, file,
                                         Py_PRINT_RAW);
            if (err)
                return NULL;
        }
        err = PyFile_WriteObject(PyTuple_GetItem(args, i), file,
                                 Py_PRINT_RAW);
        if (err)
            return NULL;
    }

    if (end == NULL)
        err = PyFile_WriteObject(newline, file, Py_PRINT_RAW);
    else
        err = PyFile_WriteObject(end, file, Py_PRINT_RAW);
    if (err)
        return NULL;

    Py_RETURN_NONE;
}
```

In [27]:
print("Hello") #Â abstraction -> high level-ish

Hello

##Â USER - DEFINED FUNCTIONS

- `def` 
- `name` 
- `params` 
- `args` 
-  `return`
- `docstrings` 

- `source coude`

**Syntax for DEFINING a function**
```python

def name_function(input params):
    # the colon and the indentation imply being in the function
    take an action
    return() # return a certain value

```

**Syntax for CALLING a function**

`name_of_the_function(argument1, argument2, ...)`

or, if you want to save the result in a variable

`result = name_of_the_function(argument1, argument2, ...)`

In [ ]:
#def input ()

In [30]:
name = input()

fer

In [ ]:
# optional args: "prompt=None"

In [29]:
name

'fer'

###Â def

In [ ]:
#Â def

### name

In [ ]:
def addition (): #Â meaningful
    pass

def rename_columns (): #Â they do things: try to use verbs
    pass

def rename_columns (): #Â they do things: try to use verbs
    pass

In [34]:
#Â 1. Define
def say_hi ():
    print("Hello!")

# 2. Call
say_hi()

Hello!

###Â parameters

`()`

In [45]:
def addition (a):
    return a + b

addition (10, 2)

12

In [46]:
def greeting (name): #Â name -> parameter
    return f"Hello! My name is {name}"

greeting("Marina")

'Hello! My name is Marina'

In [47]:
greeting("Marcel")

'Hello! My name is Marcel'

In [48]:
greeting(10)

'Hello! My name is 10'

`(param_1, param_2)`

In [49]:
def greeting (name, age):
    return f"Hello! My name is {name} and my age is {age}"

In [51]:
greeting("Albert", 30)

'Hello! My name is Albert and my age is 30'

In [52]:
greeting("Marina", 31)

'Hello! My name is Marina and my age is 31'

In [ ]:
# parameters -> name, age
#Â arguments > "Marina", 30

###Â arguments

Formal parameters for a function are listed in the function declaration and used in the body of the function definition.

An argument is what is used when referring to parameters. When you write a function call, the arguments are listed in parentheses after the function name. When the function call is executed, the arguments are inserted for the parameters.

Let's say then that the parameters are those "imaginary" variables that will have the same name in the definition and in the body of the function.
The arguments are the REAL DATA that we use when we call the function.

####Â default parameters

`(param_1, param_default = defaultvalue)`

1. `greetings_default(myself, someone_else, language="en")`

In [57]:
#Â A function that will greet in english by default
#Â unless specified otherwise

def greeting (name_1, name_2, language="en"):
    if language == "en":
        return f"Hello! {name_2} I'm {name_1}"

In [59]:
greeting ("Marina", "Valentina") #Â if defined when defining -> not needed

"Hello! Valentina I'm Marina"

In [58]:
greeting ("Marina", "Valentina", language="en") #Â if defined when defining -> not needed

"Hello! Valentina I'm Marina"

In [60]:
def greeting (name_1, name_2, language="en"):
    
    if language == "en":
        return f"Hello! {name_2} I'm {name_1}"
    
    elif language == "es":
        return f"Hola! {name_2} soy {name_1}"

In [61]:
greeting ("Marina", "Valentina")

"Hello! Valentina I'm Marina"

In [62]:
greeting ("Marina", "Valentina", language="en")

"Hello! Valentina I'm Marina"

In [63]:
greeting ("Marina", "Valentina", language="es")

'Hola! Valentina soy Marina'

In [64]:
greeting ("Marina", "Valentina", "es")

'Hola! Valentina soy Marina'

In [66]:
name = input("Hola")

Hola

In [67]:
name = input(prompt = "Hola")

Holaa

In [68]:
def greeting (age):
    name = input("What's your name?: ")
    return f"Hello my name is {name} and I'm {age} old"

In [69]:
greeting(20)

What's your name?: Fer

"Hello my name is Fer and I'm 20 old"

2. `calculation (num_1, num_2, operation="+")`

In [75]:
import math

PI = math.pi
PI

3.141592653589793

In [71]:
def calculation (num_1, num_2, operation = "+"):
    """
    This function does a mathematical operation based
    on two given numbers.
    :num_1: an int
    :num_2: an int
    :operation: a string for "+" or "*". It defaults to "+"
    """
    
    if operation == "+":
        return num_1 + num_2
    
    elif operation == "*":
        return  num_1 * num_2

In [72]:
calculation (10, 2, "+") #Â 12

12

In [73]:
calculation (10, 2) #Â 12, operation is a default

12

In [74]:
calculation (10, 2, "*") #Â 20

20

####Â positional arguments & keyword arguments

`def addition (num_1, some_name=withavalue)`

####Â `*args`
In Python, the special parameter `*args` in a function is used to optionally pass a variable number of **positional** arguments.

In [ ]:
#Â find . -name *.csv -> find all the files that csv's
#Â * -> is a placeholder, wildcard (joker) -> anything/everything

In [ ]:
#Â *args  -> unknown or variable number of arguments

`two arguments`

In [90]:
def addition_two (a, b):
    return a + b

addition_two (10, 3) #Â TypeError: addition_two() takes 2 positional arguments but 3 were given

13

`unkown number of arguments`

In [94]:
def addition_args (*args): 
    #Â the code should be implemented so that 
    #Â it works with one or more arguments
    
    counter = 0
    
    for i in args:
        counter += i
        
    return counter

In [95]:
def addition_args (*args): 
    return sum(args)

In [96]:
result = addition_args(10, 2)
result

12

In [97]:
result = addition_args(10, 2, 10 , 3, 5)
result

30

In [98]:
def addition_args (*args):
    print(f"Args are: ", args)
    print(f"Type of args is: ", type(args))
    
    for i in args:
        print(i)

In [99]:
addition_args (10, 3, 2, 5) # tuple: python packages things into tuples
#Â to work with data

Args are:  (10, 3, 2, 5)
Type of args is:  <class 'tuple'>
10
3
2
5

`otherwise`: errors

####Â **kwargs

In [100]:
#Â *args #Â variable number of arguments

#Â **kwargs #Â variable number of arguments AND keys

In [102]:
def function_example (a, b, *args, **kwargs):
    
    print(f"Positional 1: {a}, and type is {type(a)}") #Â int
    print(f"Positional 2: {b}, and type is {type(b)}") #Â int
    
    print(f"Args are: {args}, and type is {type(args)}") # tuple
    print(f"Kwargs are: {kwargs}, and type is {type(kwargs)}") # dict

In [106]:
function_example (1, 2, 90, 60, 80, name="Marina", age=30)

Positional 1: 1, and type is <class 'int'>
Positional 2: 2, and type is <class 'int'>
Args are: (90, 60, 80), and type is <class 'tuple'>
Kwargs are: {'name': 'Marina', 'age': 30}, and type is <class 'dict'>

In [107]:
function_example (1, 2, 90, 60, 80, name="Marina", age=30, 90)

SyntaxError: positional argument follows keyword argument (1573228089.py, line 1)

In [ ]:
function_example (1, 2, 90, 60, 80, name="Marina", age=30)

In [ ]:
#function_example (1, 2, (90, 60, 80), name="Marina")

In [110]:
def function_example (a, b, *args, **kwargs):
    
    print(f"Positional 1: {a}, and type is {type(a)}") #Â int
    print(f"Positional 2: {b}, and type is {type(b)}") #Â int
    
    print(f"Args are: {list(args)}, and type is {type(list(args))}") # tuple
    print(f"Kwargs are: {kwargs}, and type is {type(kwargs)}") # dict 

function_example (1, 2, 90, 60, 80, name="Marina", age=30)

Positional 1: 1, and type is <class 'int'>
Positional 2: 2, and type is <class 'int'>
Args are: [90, 60, 80], and type is <class 'list'>
Kwargs are: {'name': 'Marina', 'age': 30}, and type is <class 'dict'>

####Â order

`def example(arg1, arg2, *args,**kwargs)`

In [127]:
def job_description (year, salary, *hours, **kwargs):
    
    """ This function does things
    :year: int
    :salary: float or int
    :hours: registered hours (variable)
    :kwargs: tags
    """
    
    #Â 1. Year & salary
    print(f"The year is {year}")
    print(f"The salary is {salary} â‚¬Â gross per year")
    
    #Â 2. Calculation of hours
    total_hours = sum(hours)
    print(f"I have worked a total amount of: {total_hours} hours")
    
    # 3. Tags
    print("\n")
    
    for key, value in kwargs.items():
        print(f"My {key} is {value.capitalize()}")

In [129]:
job_description (2024, 25000, 40, 29, 38, 45, name="Marina", city="matarÃ³", company="iH", role="PM")

The year is 2024
The salary is 25000 â‚¬Â gross per year
I have worked a total amount of: 152 hours


My name is Marina
My city is MatarÃ³
My company is Ih
My role is Pm

In [131]:
dict_albert = {"name":"albert", "city":"matarÃ³", "role":"unknown"}

In [132]:
dict_albert

{'name': 'albert', 'city': 'matarÃ³', 'role': 'unknown'}

In [135]:
valentina = {'name': 'val', 'city': 'bcn', 'role': 'careers'}

In [133]:
year = 2020

In [136]:
job_description (year, 25000, 40, 29, 38, 45, **valentina)

The year is 2020
The salary is 25000 â‚¬Â gross per year
I have worked a total amount of: 152 hours


My name is Val
My city is Bcn
My role is Careers

In [149]:
hours_worked_list = [40, 3, 50, 1, 40, 40, 40]

In [142]:
hours_worked = (40, 3, 50, 1)

In [150]:
hours_worked_set = {40, 3, 50, 1, 40, 40, 40}

In [152]:
job_description (year, 25000, *hours_worked_set, **valentina)

The year is 2020
The salary is 25000 â‚¬Â gross per year
I have worked a total amount of: 94 hours


My name is Val
My city is Bcn
My role is Careers

In [ ]:
# python
    # open source
    #Â libraries
        # pandas
        #Â numpy
        #Â visualization
        #Â statistics
        #Â machine learning
        #Â using other services: sqlthrough python
        
   #Â libraries: pandas

In [ ]:
class Car ():
    pass

tonis_car = Car()
tonis_car.forward() # function (method) -> return updated position

tonis_car.color #Â red
tonis_car.color = #Â white

In [154]:
import pandas as pd
#tonis_car = Car ()

df = pd.read_csv("../datasets/avocado_kaggle.csv")

df.drop()
df.shape #Â number of rows and columns


df_2 = pd.read_csv("../datasets/boston.csv")
df_2.drop()
df.shape

In [155]:
import pandas as pd

dict_ = {"col1": [1, 2, 3], "col2": [10, 20, 30]}

In [157]:
df_3 = pd.DataFrame(dict_)
df_3

   col1  col2
0     1    10
1     2    20
2     3    30

### return

- return gives you something back
- there can be more than one return
- **after a function returns something, the execution STOPS**

`function with return`

In [164]:
def greeting_return ():
    return "Hello"
    
result_return = greeting_return ()
#result_return = "Hello"
result_return

'Hello'

In [180]:
result_return.upper()

'HELLO'

`function with no return`: NoneType

In [167]:
def greeting_print ():
    print("Hello")
    
result_print = greeting_print ()

Hello

In [181]:
result_print.upper()

AttributeError: 'NoneType' object has no attribute 'upper'

In [182]:
# return: want to keep the value -> saving that into a variable
    #Â keep the value of things
    # why? to look it up i nthe future
    #Â to modify / work / apply

#Â no return: we just want things to happen, nothing to give back
    #Â siri: lower the temperature
        #Â DO: change the temperature
        #Â it doesnt return anything

In [183]:
#Â A FUNCTION WITH NO RETURN -> EVALUATES TO NONE

In [186]:
type(greeting_return()) # type of the result: str (it returns a string)

str

In [185]:
type(greeting_print()) #Â the type of the result (no result): None (no return)

Hello

NoneType

In [ ]:
#Â FUNCTIONS WITHOUT RETURN GIVE YOU NONE

`accessing the value of the result of the function`: print & return

`more than one return`

In [188]:
def addition (a, b):
    
    one_number = a * 10
    another_number = b * 10
    
    return one_number, another_number

the_first_one, the_second_one = addition (2, 3)

print(the_first_one)
print(the_second_one)

20
30

In [190]:
a, b = (10, 80)
b

80

### Docstrings: documentation strings

- The code is written 1 time.
- The code is read 100 times.
- Help your colleagues understand your work.

![lafoto](https://res.cloudinary.com/highflyer910/image/upload/v1589577574/1_1_httqnc.jpg)

In this example, we have defined a cat function that returns meow. We have declared a docstring that explains what the function does. To get the docstring of a function, we need to display the doc attribute (print(cat.__doc__))
Photo reference, description and more info about docstring [here](https://techiestuff.netlify.app/blog/what-is-a-python-docstring/)

In [191]:
def job_description (year, salary, *hours, **kwargs):
    
    """This function does things
    :year: int, current year
    :salary: float or int
    :hours: registered hours (variable), ints
    :kwargs: tags, refering to the person
    """
    
    #Â 1. Year & salary
    print(f"The year is {year}")
    print(f"The salary is {salary} â‚¬Â gross per year")
    
    #Â 2. Calculation of hours
    total_hours = sum(hours)
    print(f"I have worked a total amount of: {total_hours} hours")
    
    # 3. Tags
    print("\n")
    
    for key, value in kwargs.items():
        print(f"My {key} is {value.capitalize()}")

In [198]:
print("Hello\nthere\nnew line")

Hello
there
new line

In [ ]:
def job_description (year, salary, *hours, **kwargs):
    
    print(f"The year is {year}")
    print(f"The salary is {salary} â‚¬Â gross per year")
    total_hours = sum(hours)
    print(f"I have worked a total amount of: {total_hours} hours")
    print("\n")
    for key, value in kwargs.items():
        print(f"My {key} is {value.capitalize()}")

In [ ]:
#Â technical debt

### source code

In [192]:
import inspect
print(inspect.getsource(job_description))

def job_description (year, salary, *hours, **kwargs):

    """This function does things
    :year: int, current year
    :salary: float or int
    :hours: registered hours (variable), ints
    :kwargs: tags, refering to the person
    """

    #Â 1. Year & salary
    print(f"The year is {year}")
    print(f"The salary is {salary} â‚¬Â gross per year")

    #Â 2. Calculation of hours
    total_hours = sum(hours)
    print(f"I have worked a total amount of: {total_hours} hours")

    # 3. Tags
    print("\n")

    for key, value in kwargs.items():
        print(f"My {key} is {value.capitalize()}")

In [196]:
print(job_description.__doc__)

This function does things
    :year: int, current year
    :salary: float or int
    :hours: registered hours (variable), ints
    :kwargs: tags, refering to the person

In [ ]:
#Â create a function that counts the number of vowels in a string

def count_vowels ():
    pass

count_vowels("kiuysdsaaareoieuatfvbnmjhgfcv")

## Scope of functions

`outer to inner`

`inner to outter`

[Extra: global variables](https://www.w3schools.com/python/python_variables_global.asp)

## Lambda
A lambda function is an anonymous function, with no identifier, that can be declared in place. Since we can take functions as arguments and assign them to variables, the notation that makes it possible to create lambda functions is very handy in many cases.


### Syntax of a lambda
```python
lambda <param list>:<return expression>
```

### lambda examples

### `lambda`  as the option of some other built-in functions

It is also possible to use these anonymous functions as arguments in calls to other functions. For example, in a call to sorted() or list.sort() we can use a lambda function as an argument to the key parameter:

##Â Functions: functions as return of another function

## Recursion
It is called recursive call (or recursion), to those functions that in their algorithm, refer to itself.

Recursive calls are usually very useful in very specific cases, but due to their great feasibility of falling into infinite iterations, adequate preventive measures should be taken and only used when strictly necessary and there is no viable alternative way to solve the problem. avoiding recursion.

Python supports recursive calls, allowing a function to call itself, just as it does when calling another function.

`ins't it the same as a while loop?`

## Summary
It's your turn. What have we learned today?